  <footer id="footer" class="inner">
    &copy; 2017 &nbsp;-&nbsp; <%= siteTitle %>
    &nbsp;-&nbsp;<a href="/">PithyMark Blog</a>
    <br />
    Powered by&nbsp;Sorkin&nbsp;&amp;&nbsp;Sorkin</a>
  </footer>

</div>
</body>
</html>